@model Category

<a href="/admin/category" class="btn btn-dark m-2"><i class="fa-solid fa-caret-left"></i> Back</a>

<h4 class="alert-primary p-3">@Model.CategoryName</h4>

<details class="alert-primary border border-dark rounded p-3">
    <summary class="bg-primary text-white p-2">About</summary>
    <p>hhhh</p>
    </details>